## Copyright John A Kline
## See LICENSE.txt for your rights
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>NWS Forecast</title>
    <meta name="description" content="NWS 12-hour.">
    <style>
      .forecastnav {
        overflow: hidden;
      }
      .forecastnav span {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 0px;
        text-decoration: none;
        font-size: 17px;
      }
      .forecastnav span:hover {
        background-color: #ddd;
        color: black;
      }
      .forecastnav span.active {
        background-color: #367ba3;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="forecastnav" style="width:100%;">
      <table style="text-align:center;width:40%;margin-left:30%;">
        <tr>
          <td style="background-color:black;text-align:center;">
            <span id="days" onclick="clickDays()" style="width:33%;" class="active">7 Day</span>
            <span id="hours" onclick="clickHours()" style="width:34%;">Hourly</span>
            <span id="alerts" onclick="clickAlerts()" style="width:33%;">Alerts</span>
          </td>
        </tr>
      </table>
    </div>
    <br/>
    <br/>
    <div id="days_block" style="text-align:center;">
      <div style="display:inline-block;">
        #include "forecast_days.inc"
      </div>
    </div>
    <div id="hours_block" style="display:none;text-align:center;">
      <div style="display:inline-block;">
        #include "forecast_hours.inc"
      </div>
    </div>
    <div id="alerts_block" style="display:none;text-align:center;">
      <div style="display:inline-block;">
        #include "forecast_alerts.inc"
      </div>
    </div>
    <script>
      function resetForecastMenuBar() {
        document.getElementById('days').classList.remove('active');
        document.getElementById('hours').classList.remove('active');
        document.getElementById('alerts').classList.remove('active');
        document.getElementById('days_block').style.display = 'none';
        document.getElementById('hours_block').style.display = 'none';
        document.getElementById('alerts_block').style.display = 'none';
      }
      function clickDays() {
        resetForecastMenuBar();
        document.getElementById('days').classList.add('active');
        document.getElementById('days_block').style.display = 'block';
        document.getElementById('forecast-title').innerHTML = 'NWS 7 Day Forecast';
      }
      function clickHours() {
        resetForecastMenuBar();
        document.getElementById('hours').classList.add('active');
        document.getElementById('hours_block').style.display = 'block';
        document.getElementById('forecast-title').innerHTML = 'NWS Hourly Forecast';
      }
      function clickAlerts() {
        resetForecastMenuBar();
        document.getElementById('alerts').classList.add('active');
        document.getElementById('alerts_block').style.display = 'block';
        document.getElementById('forecast-title').innerHTML = 'Active NWS Alerts';
      }
      clickDays();
    </script>
  </body>
</html>
